@media (min-width: 992px) {
    .layout-side-section {
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
  
    .layout-main-section-wrapper {
      width: 91.66666667%;
    }
  
    .container {
      width: 98%;
    }
  }
  
  